/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Background styles */
.background-container {
    position: fixed;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #868686, #3C4142);
    overflow: auto; /* Add a scrollbar when content overflows the div's box */
}

/* Heading styles */
h1 {
    margin-left: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F9F8F7;
    margin-bottom: 20px;
}

h2, h3, h4 {
    margin-left: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3C4142;
    margin-bottom: 20px;
    text-decoration-line: underline;
}

p {
    margin-left: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F9F8F7;
    margin-bottom: 20px;
}

/* Flex container for the three main sections */
.main-container {
    display: flex;
    justify-content: space-between;
}

/* Left container */
.left-container {
    flex-basis: 30%; /* Set the width of the left container */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.051); /* Semi-transparent background for the blur effect */
    backdrop-filter: blur(5px); /* Adjust the blur radius to your preference */
    border-radius: 5px;
    border-color: #ccc;
    margin-bottom: 5px; /* Add a gap below the .status-container */
}

.on-off {
    background-color: #F9F8F7;
    width:90%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.start-panel {
    display: flex;
    gap: 10px; /* Gap between buttons */
    margin: 10px;
}

.start-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s, background-color 0.2s;
    border: 1px solid #ccc;
    color: #333;
    width: 100px;
}

.start-button:active {
    box-shadow: none; /* Remove the box shadow when the button is pressed */
    background-color: #ccc; /* Change the background color when the button is pressed */
    transform: translateY(1px); /* Add a slight y-axis translation for a pressed effect */
  }

.start-led {
    margin-right: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.stop-panel {
    display: flex;
    gap: 10px; /* Gap between buttons */
}

.stop-led {
    margin-right: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.position-status {
    background-color: #F9F8F7;
    width:90%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.position-coordinate {
    display: flex;
}

#joint1-response,
#joint2-response,
#joint3-response,
#joint4-response,
#gripper-response {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    width:150px;
    margin-left: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3C4142;
    font-size: small;
}

/* Middle container */
.middle-container {
    flex-basis: 30%; /* Set the width of the middle container */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.051); /* Semi-transparent background for the blur effect */
    backdrop-filter: blur(5px); /* Adjust the blur radius to your preference */
    border-radius: 5px;
    border-color: #ccc;
    margin-bottom: 5px; /* Add a gap below the .status-container */
}

.video-container {
    position: relative;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

#video-stream {
    width: 100%;
    height: auto;
}

.cycles-status {
    background-color: #F9F8F7;
    width:90%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.cycles,
.status {
    background-color: rgba(0, 0, 0, 0.051); /* Semi-transparent background for the blur effect */
    backdrop-filter: blur(5px); /* Adjust the blur radius to your preference */
    width: 30%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
}

#cycles-response,
#status-response {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    width:90%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3C4142;
    font-size: small;
}

/* Right container */
.right-container {
    flex-basis: 30%; /* Set the width of the right container */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.051); /* Semi-transparent background for the blur effect */
    backdrop-filter: blur(5px); /* Adjust the blur radius to your preference */
    border-radius: 5px;
    border-color: #ccc;
    margin-bottom: 5px; /* Add a gap below the .status-container */
}
.auto-control,
.manual-control {
    background-color: #F9F8F7;
    width:90%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auto-panel,
.manual-panel {
    display: flex;
}

.on-panel,
.off-panel {
    display: flex;
    gap: 10px; /* Gap between buttons */
    margin: 10px;
}

.on-button,
.off-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s, background-color 0.2s;
    border: 1px solid #ccc;
    color: #333;
    width: 100px;
}
.off-button:active,
.on-button:active {
    box-shadow: none; /* Remove the box shadow when the button is pressed */
    background-color: #ccc; /* Change the background color when the button is pressed */
    transform: translateY(1px); /* Add a slight y-axis translation for a pressed effect */
  }

.on-led {
    margin-right: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.off-panel {
    display: flex;
    gap: 10px; /* Gap between buttons */
}

.off-led {
    margin-right: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.robot-control {
    background-color: rgba(0, 0, 0, 0.051); /* Semi-transparent background for the blur effect */
    backdrop-filter: blur(5px); /* Adjust the blur radius to your preference */
    width:90%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.robot-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s, background-color 0.2s;
    border: 1px solid #ccc;
    color: #333;
    width: 100px;
}

.robot-button:active {
    box-shadow: none; /* Remove the box shadow when the button is pressed */
    background-color: #ccc; /* Change the background color when the button is pressed */
    transform: translateY(1px); /* Add a slight y-axis translation for a pressed effect */
}

.robot-button:disabled {
    background-color: #f8b9b9;
}


/* Footer styles */
.footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.227); /* Semi-transparent background for the blur effect */
    color: #F9F8F7;
    backdrop-filter: blur(5px); /* Adjust the blur radius to your preference */
}
